<h1>{{title}}</h1>

<p>{{anything}}</p>




<div id="message_container"><button onclick="test()">Start the game</button>
	<script>
		$.getJSON('api/v1/api/guess) //is this right?
		
		{
		//Don't know what goes here... I know I want the messages here....
		}
	
	
</div>