<h1>{{title}}</h1>

<body id="gameplay">
	<p>{{game}}<p>
	
	<div id="messages">
		</div>

	<div id="start_button">
		<p><input type="button" id= "startgame" value="Click here to play!" /></p>
		</div>

	<div id="guess_field">
		<form id = "game" action="api/v1/play" method = "post">
			Enter Your Guess: <input type="text" name="guess"><br>
			<input type="submit" name = "guess_submission" value="Submit">
			</form>
		</div>

</body>
	



	


