<h1>{{title}}</h1>

<p>{{game}}</p>

<div id="messages" style="display: none; background: yellow;">
	I'm a message.
</div>
<button onclick="window.location='http://localhost:3000//api/v1/start'">Start Game</button>