<h1>{{title}}</h1>

<p>{{game}}</p>

 <p><input type="button" id= "startgame" value="Click here to play!" /></p>

<body>
	<form id = "game" action="api/v1/play">
  		Enter Your Guess: <input type="text" name="guess"><br>
  		<input type="submit" value="Submit">
	</form>
</body>

