<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
	<script src="/js/jquery-1.8.2.min.js"></script>
	<script src="/js/number-game.js"></script>
  </head>
  <body>
    {{> _header}}
    <div id="content">
      {{{yield}}}
    </div>
    {{> _footer}}
  </body>
</html>